/* 2017 - Pablo Diehl ~ www.pablodiehl.xyz | www.gitlab.com/pablodiehl */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
    margin: 0;
    padding: 0;
}

#back:hover {
    cursor: pointer;
    text-decoration: underline;
}

body {
    background: #f0d6f7;
    color: #6b3585;
    font-family: "Open Sans", sans-serif;
    padding: 8px;
}

button {
    background: #6b3585;
    border: 0;
    border-radius: 4px;
    color: #fff;
    margin: 0;
    padding: 0.3rem;
}

button:hover {
    background: #602f77;
    cursor: pointer;
}

button:active {
    background: #542a69;
    cursor: progress;
}

textarea {
    background: #f6e6fa;
    border: 1px solid #eac5f3;
    border-radius: 4px;
    max-height: 10rem;
    height: 5rem;
    min-width: 100%;
    margin: 4px 0;
    width: 100%;
}
